:root {
  --theme-background: #03090a;
  --theme-background-alt: #06100e;
  --theme-font-body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --theme-foreground-highlight: #849492;
  --theme-highlight: rgb(148, 182, 174);
  --theme-border: .5px solid rgba(148, 182, 174, 0.3);
  --theme-border-alt: #1b2827;
  --theme-table-bg: #051013;
}

/* ============================================================ Buttons shared */
button:hover{
  background-color: rgba(157, 240, 209, .4) !important;
  color: rgb(14, 34, 29) !important;
  font-weight: 600 !important;
}

/* ============================================================ Background */
.bg {
  background: 
  linear-gradient(to bottom right, rgba(53, 138, 120, 0.173), rgba(255, 0, 0, 0) 40%),
  linear-gradient(to bottom left, rgba(53, 138, 120, 0.473), rgba(255, 0, 0, 0) 40%), 
  linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), 
  url('../images/teal-bg.png') no-repeat center center fixed;

  background-color: #1f1f1f;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200vh;
  z-index: -1;
}

/* ============================================================ Header */
.header-bg {
  background: 
  linear-gradient(to bottom, rgb(3, 9, 10, 1), rgba(3,9, 10, 1) 50%, rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 2000;
  
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
}
.header h1 {
  margin-left: .5em;
  font-size: 1.2em;
}
#logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 1em .6em 1em 2em;
  filter: opacity(0.9);
}

/* ============================================================ Main Content*/
.page-wrapper {
  margin-top: 60px;
}
.box {
  background-color: transparent;
  border: var(--theme-border);
  margin: 0 !important;
}
.dashboard {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-template-rows:  auto auto;
  gap: 20px;
}

/* ============================================================ Left dashboard */
.left-dash {
  grid-column: 1;
  /* height:100%; */
}
.left-dash .box {
  height: 100%;
}
.button-group .control {
  flex: 1;
}
.select, .input {
  margin-top: 8px;
}
/* ============================================================ Right dashboard */
.right-dash {
  grid-column: 2;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.right-dash .box {
  height: 100%;
}
#message-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#block-msg, #tx-msg{
  flex: 1;
}

/* ============================================================ Tabs */
.tab-container {
  height: auto;
  width: 100%;
  /* border: 1px solid blue; */
}
.tab-container .box {
  padding: 0;
}
.tab-content.is-hidden {
  display: none;
}
.tab-button {
  border-bottom: 1px solid var(--theme-border);
  background-color: var(--theme-background-alt);
}
.tab-button.is-active {
  border-bottom: none;
  background-color: var(--theme-background);
}


/* ============================================================ Tab group */
.tab-group {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border-alt);
  box-sizing: border-box;
  width: auto;
  margin: 5% 10%;
  font-size: .75em;
}
.tab-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--theme-background-alt);
  padding: 0 !important;
  margin: 0 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab-btns-container button {
  padding: 1em;
  padding-right: 1em;
  border-right: 1px solid var(--theme-border-alt);
  flex: 0 1 auto;
}
#dummy-button { /* occupy empty space */
  flex-grow: 1;
  border: 0; 
  border-bottom: 1px solid var(--theme-border-alt);
}
#tx-button {
  border-bottom: 1px solid var(--theme-border-alt);
}

/* ============================================================ DataTables: Override styles */
table {
  width: 100%;
}
.dt-length, .dt-end {
  padding: .3em .5em !important;
}
/* dark-mode */
td, th {
  color: var(--theme-foreground-highlight) !important;
  background-color: var(--theme-table-bg) !important;
  border: 1px solid  #0f2825 !important;
}
/* table body */
.dt-scroll-body {
  border-bottom: 1px solid var(--theme-border) !important;
}
/* table footer */
.dt-layout-cell .dt-info, .dt-layout-cell .dt-paging{
  background-color: var(--theme-background) !important;
  padding: .5em;
} 
/* footer paging */
.dt-paging-button {
  padding: .5em 1em;
  border: 1px solid var(--theme-border);
}
.dt-search input{
  background-color: var(--theme-inputs-bg) !important;
}

/* ============================================================ Prism: Override styles */
#btcStream {
  width: 100%;
}
#btcStream pre {
  max-height: 600px;
}

.copy-to-clipboard-button {
  margin: 15px 40px !important;
  padding: 5% 5% !important;
}

/* ============================================================ Media Queries */
@media (max-width: 600px) {
  .dashboard {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .left-dash, .right-dash {
    grid-column: 1;
  }
  #message-box {
    flex-direction: column;
  }
  .header h1 {
    font-size: 1em;
  }
  #logo {
    margin: 1em .6em 1em 1.2em;
  }

}

/* ============================================================ Fix for Chrome table scroll issue */
@media screen and (-webkit-min-device-pixel-ratio:1) {
  div.dt-scroll-body {
    overflow-y: scroll !important;
  }
}





/* ============================================================ Cross Browser styling */
/* ::-webkit-scrollbar {
  width: 14px; 
}
::-webkit-scrollbar-thumb {
  background-color: #545a5a;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: #051013;
}
::-webkit-scrollbar-corner {
  background-color: #051013;
} */

/* Target table pagination */
/* button.dt-paging-button {
  font-size: 14px;
} */